<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bulade.donor.authorization.dao.PermissionsMapper">

    <sql id="baseColumn">
        `id`,
        `name`,
        `controller`,
        `priority`,
        `type`,
        `created_at`,
        `updated_at`,
        `deleted_at`
    </sql>

    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO `t_permissions` (
        `name`,
        `controller`,
        `priority`,
        `type`,
        `created_at`,
        `updated_at`
        )
        VALUES
        (
        #{name},
        #{controller},
        #{priority},
        #{type},
        now(),
        now()
        )
    </insert>

    <select id="selectById" resultType="com.bulade.donor.authorization.model.Permission">
        select
        <include refid="baseColumn"/>
        from t_permissions
        where id = #{id}
        and deleted_at is null
    </select>

    <sql id="listAllCondition">
        <where>
            <if test="permission.name != null and permission.name != ''">
                and `name` = #{permission.name}
            </if>
            <if test="permission.controller != null and permission.controller != ''">
                and `controller` = #{permission.controller}
            </if>
            <if test="isDeleted != null">
                <if test="isDeleted">
                    and deleted_at is not null
                </if>
                <if test="!isDeleted">
                    and deleted_at is null
                </if>
            </if>
        </where>
    </sql>

    <select id="listAll" resultType="com.bulade.donor.authorization.model.Permission">
        select
        <include refid="baseColumn"/>
        from t_permissions
        <include refid="listAllCondition"/>
        order by priority asc
        limit #{pageParam.offset}, #{pageParam.limit}
    </select>

    <select id="countAll" resultType="int">
        select
        count(*)
        from t_permissions
        <include refid="listAllCondition"/>
    </select>

    <update id="updateById">
        update t_permissions
        set `name` = #{name},
        `controller` = #{controller},
        `priority` = #{priority},
        `updated_at` = now()
        where `id` = #{id}
        and deleted_at is null
    </update>

    <update id="deleteById">
        update t_permissions
        set deleted_at = now()
        where `id` = #{id}
        and deleted_at is null
    </update>

    <select id="listByType" resultType="com.bulade.donor.authorization.model.Permission">
        select
        <include refid="baseColumn"/>
        from t_permissions
        where type = #{type}
        and deleted_at is null
        order by priority asc
    </select>

</mapper>
